
<% if(fillBlack.length > 0){ %>
<section>
    <header><h3>一、填空题</h3></header>
    <ol>
        <% for(var i = 0; i < fillBlack.length; i++){ %>
        <li>
            <label><%= fillBlack[i].question%>
                <% for(var x = 0; x < fillBlack[i].answer.split('、').length; x++){ %>
                <input name="fillBlack_<%= i%>" type="text">
                <% }%>
            </label>
        </li>
        <% } %>

    </ol>
</section>
<% } %>