<% if(fillBlack.length > 0){ %>
<section class='form-group row panel panel-default'>
    <header class="panel-heading"><h3>一、填空题</h3></header>
    <div>
        <ol>
        <% for(var i = 0; i < fillBlack.length; i++){ %>
        <li>
            <div class="row fillInTopic">
            <label class='col-md-3'><%= fillBlack[i].question%></label>
                <div class="col-md-6 col-md-pull-1 row">
                    <% var length = fillBlack[i].answer.split('、').length; %>
                <% for(var x = 0; x < length; x++){ %>
                    <div class='col-md-<%= 12/length%>'><input class='form-control' name="fillBlack_<%= i%>" type="text"
                         value="<%= typeof(fillBlack[i].input) === 'string' ? fillBlack[i].input :
                            fillBlack[i].input[x]%>"></div>
                <% }%>
                </div>
            </div>
        </li>
        <% } %>
    </ol>
</section>
<% } %>
