<% if(multipleChoice.length > 0){ %>
<section>
    <header><h3>三、多选题</h3></header>
    <ol>
        <% for(var i = 0; i < multipleChoice.length; i++){ %>
        <li>
            <header><%= multipleChoice[i].question%></header>
            <ol type="A">
                <% var array = ['A', 'B', 'C', 'D'];%>
                <% for(var x = 0; x < multipleChoice[i].options.length; x++){ %>
                <li><label><input type="checkbox" name="multipleChoice_<%= i%>" value="<%= array[x]%>"><%= multipleChoice[i].options[x]%></label></li>
                <% } %>
            </ol>
        </li>
        <% } %>
    </ol>
</section>
<% }%>