<% if(multipleChoice.length > 0){ %>
<section class='form-group row panel panel-default'>
    <header class="panel-heading"><h3>三、多选题</h3></header>
    <div class="panel-body">
        <ol>
        <% for(var i = 0; i < multipleChoice.length; i++){ %>
        <li>
            <header><%= multipleChoice[i].question%></header>
            <ol type="A">
                <% var array = ['A', 'B', 'C', 'D'];%>
                <% for(var x = 0; x < multipleChoice[i].options.length; x++){ %>
                <li class="checkbox"><label><input type="checkbox" name="multipleChoice_<%= i%>" value="<%= array[x]%>"
                        <% if(multipleChoice[i].input.split('、').indexOf(array[x]) !== -1){%> checked="checked" <% } %>>
                        <%= multipleChoice[i].options[x]%></label></li>
                <% } %>
            </ol>
        </li>
        <% } %>
    </ol>
    </div>
</section>
<% }%>