<% if(shortAnswer.length > 0){ %>
<section>
    <header><h3>五、简答题</h3></header>
    <ol>
        <% for(var i = 0; i < shortAnswer.length; i++){ %>
        <li>
            <p><label><%= shortAnswer[i].question%></label></p>
            <textarea name='shortAnswer_<%= i%>' rows="5"><%= shortAnswer[i].input%></textarea>
        </li>
        <% } %>
    </ol>
</section>
<% } %>
