<% if(shortAnswer.length > 0){ %>
<section class='form-group row panel panel-default'>
  <header class="panel-heading"><h3>五、简答题</h3></header>
  <div class="panel-body">
  <ol>
    <% for(var i = 0; i < shortAnswer.length; i++){ %>
    <li>
      <p><label><%= shortAnswer[i].question%></label></p>
      <textarea name='<%= shortAnswer[i].name%>' class="form-control" rows="5"><%= shortAnswer[i].input%></textarea>
    </li>
    <% } %>
  </ol>
  </div>
</section>
<% } %>
