<% if(singleChoice.length > 0) { %>
<section class='form-group row panel panel-default'>
  <header class="panel-heading"><h3>二、选择题</h3></header>
  <div class="panel-body">
    <ol>
    <% for(var i = 0; i < singleChoice.length; i++){ %>
    <li>
      <header><%= singleChoice[i].question%></header>
      <ol type="A" class="list-unstyled">
        <% var array = ['A', 'B', 'C', 'D'];%>
        <% for(var x = 0; x < singleChoice[i].options.length; x++){ %>
          <li class="radio"><label>
            <input type="radio" name='<%= singleChoice[i].name%>' value='<%= array[x]%>'
              <% if(array[x] === singleChoice[i].input){%> checked='checked' <%}%>>
                <%= singleChoice[i].options[x]%></label>
          </li>
          <% }%>
      </ol>
    </li>
    <% } %>
    </ol>
  </div>
</section>
<% } %>
